#root {
  margin: 0;
  padding: 0;
}

.app-page {
  min-height: calc(100vh - 58px);
  display: flex;
  flex-direction: column;
  background-color: white;
}

[data-theme="dark"] .app-page {
  background-color: #23272f;
}

[data-theme="dark"] .app-content p {
  color: #9ba1b0;
}

.app-content {
  flex: 1;
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
}

.app-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.app-content p {
  font-size: 20px;
  color: #666;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
